# Env File - https://docs.docker.com/compose/environment-variables/#the-env-file

# project name - https://docs.docker.com/compose/reference/envvars/
# - utilizado para monatar nome personalizado nos containers, exemplo pgc-php-1
COMPOSE_PROJECT_NAME=laravel

# Usuário para executar os comandos dentro do container composer, php artisan, etcc...
USER_ADD=kelven
UID=1000

# network name
NETWORK_STAGE_NAME=app-network-laravel

# WSL root path - caminho dentro do WSL da pasta rapiz do projeto
WSL_ROOT_PATH=/apps/dir-do-meu-app

# local scripts de atualizacao de pacotes e sync com banco de desenvolvimento
APP_BUILD=/usr/build

# public_html onde vai os arquivos do app
# https://github.com/docker-library/docs/tree/master/nginx#using-environment-variables-in-nginx-configuration
WORK_DIR=/usr/share/nginx

# https://hub.docker.com/_/php/tags?page=&page_size=&ordering=&name=8.3-fpm
PHP_IMAGE=8.3-fpm

# https://hub.docker.com/_/nginx/tags?page=2&page_size=&name=1.27
NGINX_IMAGE=1.27

# https://hub.docker.com/_/mariadb/tags?page=&page_size=&ordering=&name=11.4
MARIADB_IMAGE=11.4 # mariadb

# Web port - localhost:80
NGINX_PORT=8083

# Vite port - default 5173 - # Se utilizar uma porta diferente, rodar "npm run dev --port [NOVA-PORTA]"
VITE_PORT=5173

#NVM version
NVM_VER=v0.39.7
#nodejs version
NODE_VER=v20.14.0

# mysql - cria o banco se nao existir.
MYSQL_DATABASE=laravel
MYSQL_USER=laravel
MYSQL_PASSWORD=laravel
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306
